<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Vehicle Parking Menu</li>
    <li class="active">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fas fa-car-side"></i>
            <span>Park In</span>
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="ParkOut">
            <i class="fas fa-car"></i>
            <span>Park Out</span>
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="Parking" asp-action="Index">
            <i class="fas fa-parking"></i>
            <span>Parking</span>
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="Gate" asp-action="Index">
            <i class="fas fa-torii-gate"></i>
            <span>Gate</span>
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="Activity" asp-action="Index">
            <i class="fas fa-chart-line"></i>
            <span>Activity</span>
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="Session" asp-action="Index">
            <i class="fas fa-school"></i>
            <span>Sessions</span>
        </a>
    </li>
    <li>
        <a asp-area="" asp-controller="Analytics" asp-action="Index">
            <i class="fas fa-diagnoses"></i>
            <span>Analytics</span>
        </a>
    </li>
</ul>